*.cache
*.class
*.project
*.classpath
*.log
.settings/
test-output/
.idea/
.idea/jsLibraryMappings.xml
*.iml
.DS_Store
alexa/constants.js
storage/node_modules/.bin/

# Config Settings and Util Libraries
util.js
config.js
alexa/config.js
alexa/util.js

# Any Zip packages created during bundling
*.zip